node_modules
.env
coverage
coverage.json
typechain
*.png
scripts/*.json
!scripts/state-*.json

# Hardhat files
cache
artifacts
contracts-exposed
.vscode
spec

# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db